@import "~vue-snotify/styles/material";

@font-face {
  font-family: 'Montalban';
  src:  url('~@/assets/fonts/Montalban Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montalban';
  src:  url('~@/assets/fonts/Montalban.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$background-color: #333333;
$text-color: white;

$default-background-color: #715a45;
$default-text-color: white;
$default-border-color: #302017;

$active-background-color: #F39619;
$active-text-color: white;
$active-border-color: #925016;

$hover-background-color: #b16019;
$hover-text-color: $active-text-color;
$hover-border-color: #6e3715;

$panel-a-background-color: #112b3c;
$panel-b-background-color: #4c0007;
$panel-neutral-background-color: #444444;

$hex-button-height: 3em;
$hex-button-coord-factor: 0.866025;
$hex-button-width: $hex-button-coord-factor * $hex-button-height;
// y coord of the top left point (top middle beeing 0)
$hex-button-y1: 0.25 * $hex-button-height;
// y coord of the bottom left point (bottom middle beeing $hex-button-height)
$hex-button-y2: 0.5 * $hex-button-height;
// x coord of the top middle point (top left beeing 0)
$hex-button-x1: $hex-button-coord-factor * $hex-button-height * 2;


body {
  background: $background-color;
  color: $text-color;

  a:focus, button:focus, svg:focus {
    outline: none;
  }
}
